
/* Animations */

@keyframes animStar {
    from {
      transform: translateY(0px);
    }
    to {
      transform: translateY(-2000px);
    }
}

@-webkit-keyframes animateStarship {
    0% {
        margin-left: -1000px;
    }
    100% {
        margin-left: 900%;
    }
}

@-moz-keyframes animateStarship {
    0% {
        margin-left: -1000px;
    }
    100% {
        margin-left: 900%;
    }
}

@keyframes animateStarship {
    0% {
        margin-left: -1000px;
    }
    100% {
        margin-left: 900%;
    }
}

/* FTR Parallax Frames Style Definitions */

.ftr-plx-frames-holder{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width:100%;
    /* height: 3500px; */
    height: 1000px;
    /* border: 1px solid white; */
    z-index: -15;
}

.ftr-plx-star-frame{
    height: 1120px;
    margin: 200px 0px 0px 0px;
    /* background: linear-gradient(#000000a6, #ff450000, #ff45004d, #ff450099); */
    /* background: linear-gradient(#000000a6,#ff44000f, #ff440020, #ff45004d, #ff450099); */
    /* background: linear-gradient(#000000a6, #ff45004d, #ff450099); */
}

.ftr-starships-frame-bg{
    background: transparent;
    /* background: linear-gradient(#00000016,#00000042, #00000070,#000000a6,#ff44000f);
    background: linear-gradient(#00000016,#ff44000f); */
}

/* Starship Slide Definitions */

.ftr-plx-slide1 {
    width: 130%;
    z-index: -3000;
	-webkit-animation: animateStarship 350s linear infinite;
	-moz-animation: animateStarship 350s linear infinite;
	animation: animateStarship 350s linear infinite;
	-webkit-transform: scale(.2);
	-moz-transform: scale(.2);
	transform: scale(.2);
}

.ftr-plx-slide2 {
    width: 130%;
    z-index: -3000;
	-webkit-animation: animateStarship 350s linear infinite;
	-moz-animation: animateStarship 350s linear infinite;
	animation: animateStarship 350s linear infinite;
	-webkit-transform: scale(.4);
	-moz-transform: scale(.4);
	transform: scale(.4);
}

.ftr-plx-slide3 {
    width: 200%;
    z-index: -3000;
	-webkit-animation: animateStarship 400s linear infinite;
	-moz-animation: animateStarship 400s linear infinite;
	animation: animateStarship 400s linear infinite;
	-webkit-transform: scale(.3);
	-moz-transform: scale(.3);
	transform: scale(.3);
}

.ftr-plx-slide4 {
    width: 200%;
    position: relative;
    top: 35px;
    z-index: -2000;
	-webkit-animation: animateStarship 70s linear infinite;
	-moz-animation: animateStarship 70s linear infinite;
	animation: animateStarship 70s linear infinite;
	-webkit-transform: scale(3.5);
	-moz-transform: scale(3.5);
	transform: scale(3.5);
}

.ftr-plx-slide5 {
    width: 200%;
    z-index: -3000;
	-webkit-animation: animateStarship 425s linear infinite;
	-moz-animation: animateStarship 425s linear infinite;
	animation: animateStarship 425s linear infinite;
	-webkit-transform: scale(.25);
	-moz-transform: scale(.25);
	transform: scale(.25);
}

.ftr-plx-slide6 {
    width: 200%;
    z-index: -3000;
	-webkit-animation: animateStarship 650s linear infinite;
	-moz-animation: animateStarship 650s linear infinite;
	animation: animateStarship 650s linear infinite;
	-webkit-transform: scale(.0125);
	-moz-transform: scale(.0125);
	transform: scale(.0125);
}

.ftr-plx-slide7 {
    width: 200%;
    z-index: -3000;
	-webkit-animation: animateStarship 362s linear infinite;
	-moz-animation: animateStarship 362s linear infinite;
	animation: animateStarship 362s linear infinite;
	-webkit-transform: scale(.5);
	-moz-transform: scale(.5);
	transform: scale(.5);
}

.ftr-plx-slide8 {
    width: 200%;
    z-index: -3000;
	-webkit-animation: animateStarship 241s linear infinite;
	-moz-animation: animateStarship 241s linear infinite;
	animation: animateStarship 241s linear infinite;
	-webkit-transform: scale(.7);
	-moz-transform: scale(.7);
	transform: scale(.7);
}

.ftr-plx-slide9 {
    width: 200%;
    z-index: -3000;
	-webkit-animation: animateStarship 350s linear infinite;
	-moz-animation: animateStarship 350s linear infinite;
	animation: animateStarship 350s linear infinite;
	-webkit-transform: scale(.6);
	-moz-transform: scale(.6);
	transform: scale(.6);
}

.ftr-plx-slide10 {
    width: 200%;
    z-index: -3000;
	-webkit-animation: animateStarship 1325s linear infinite;
	-moz-animation: animateStarship 1325s linear infinite;
	animation: animateStarship 1325s linear infinite;
	-webkit-transform: scale(.06);
	-moz-transform: scale(.06);
	transform: scale(.06);
}

.ftr-plx-slide11 {
    width: 200%;
    z-index: -3000;
	-webkit-animation: animateStarship 1965s linear infinite;
	-moz-animation: animateStarship 1965s linear infinite;
	animation: animateStarship 1965s linear infinite;
	-webkit-transform: scale(.03);
	-moz-transform: scale(.03);
	transform: scale(.03);
}

.ftr-plx-slide12 {
    width: 200%;
    z-index: -3000;
	-webkit-animation: animateStarship 1865s linear infinite;
	-moz-animation: animateStarship 1865s linear infinite;
	animation: animateStarship 1865s linear infinite;
	-webkit-transform: scale(.048);
	-moz-transform: scale(.048);
	transform: scale(.048);
}

.ftr-plx-slideXL {
    width: 200%;
    position: relative;
    top: 35px;
    z-index: -2000;
	-webkit-animation: animateStarship 35s linear infinite;
	-moz-animation: animateStarship 35s linear infinite;
	animation: animateStarship 35s linear infinite;
	-webkit-transform: scale(5.5);
	-moz-transform: scale(5.5);
	transform: scale(5.5);
}

.starship{
    width:500px;
    height: 131px;
    background-image: url('../../../assets/images/ftrParallax_imgs/ST_starship-shrp-2f.png');
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: top center;
}

.ftr-plx-star{
    width: 3600px;
    height: 3600px;
    position: relative;
    top: 1800px;
    margin: 0px auto;
    animation: rotate360Rev 100s infinite;
}