html, body{
  height: 100%;
  margin: 0px;
  padding: 0px;
  /* border: solid 5px lightskyblue; */
}

.hdr-element{
  display: flex;
  justify-content: center; /* Centers the image horizontally */
  overflow-x: hidden; /* Hides overflow on the x-axis */
  width: 100%;
}

.hdr-element img{
  max-width: none; /* Prevents the image from scaling down */
  width: 842px; /* Ensures the image remains 842px wide */
}

.content-element{
  width: 100%;
  min-height: 100%;
  /* background: #ff000030; */
  /* border: solid 1px red; */
  padding: 0px;
  /* position: relative; */
}

.ftr-element{
  /* position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px; */
  /* background: #00ff0030; */
  /* border: solid 1px lime; */
  /* overflow: hidden; */
}

.init-text{
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 900;
  font-size: x-large;
}

.page-nav-ref{
  z-index: 99999;
}