.init-text{
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 900;
  font-size: x-large;
}

.isActiveText{
  color: green;
}

.isNotActiveText{
  color: red;
}

.listStyleType1{
  list-style: none;
}